<form action="/articles/<%= @article.id %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <%= @article.title %>
  <%= @article.content %>
  <p>New Title: <input type="text" name="title"></p>  
  <p>New Content: <input type="text" name="content"></p>
  <input type="submit" value="submit">
</form>